body{
    background-color: rgb(25,26,31) !important;
    
    
}
.content-wrapper{
  margin-top: 30px;
}


  
  .toggle {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 700px) {
    .toggle {
      flex-direction: column;
    }
  }
  .toggle input {
    display: none;
  }
  .toggle input#toggle-1:checked ~ .label-1 {
    width: 120px;
  }
  @media screen and (max-width: 700px) {
    .toggle input#toggle-1:checked ~ .label-1 {
      height: 120px;
      width: auto;
    }
  }
  .toggle input#toggle-2:checked ~ .label-2 {
    width: 120px;
  }
  @media screen and (max-width: 700px) {
    .toggle input#toggle-2:checked ~ .label-2 {
      height: 120px;
      width: auto;
    }
  }
  .toggle input#toggle-3:checked ~ .label-3 {
    width: 120px;
  }
  @media screen and (max-width: 700px) {
    .toggle input#toggle-3:checked ~ .label-3 {
      height: 120px;
      width: auto;
    }
  }
  .toggle input#toggle-4:checked ~ .label-4 {
    width: 120px;
  }
  @media screen and (max-width: 700px) {
    .toggle input#toggle-4:checked ~ .label-4 {
      height: 120px;
      width: auto;
    }
  }
  .toggle input#toggle-5:checked ~ .label-5 {
    width: 120px;
  }
  @media screen and (max-width: 700px) {
    .toggle input#toggle-5:checked ~ .label-5 {
      height: 120px;
      width: auto;
    }
  }
  .toggle label {
    width: 80px;
    height: 25px;
    margin: 0 20px;
    border-radius: 999px;
    background: rgb(61,62,68);
    cursor: pointer;
    /* box-shadow: 0 5px 5px -5px rgba(235, 234, 234, 0.15), 0 10px 10px -5px rgba(235, 234, 234, 0.15), 0 15px 15px -5px rgba(235, 234, 234, 0.15), 0 20px 20px -5px rgba(235, 234, 234, 0.15); */
    transition: 0.25s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
  }
  @media screen and (max-width: 700px) {
    .toggle label {
      width: 25px;
      height: 60px;
      margin: 20px 0;
    }
  }

  .row{
   color: white;
    /* height: 70vh; */
    margin-top: 80px;

    
  }
  .col-md-7{
    height: 75vh;
  }
 
 .col-md-7 form{
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 50px;
 }
 #dropdownMenuLink{
    width: 100%;
 }
 .vl {
    border-left: 2px solid rgb(211, 247, 211);
    height: 40vh;
    position: absolute;

    margin-left: -3px;
    top: 15vh;
  }
  .col-md-5{
    height: 75vh;
    padding-top: 120px;
  

  }
 
  .col-md-5 form{
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
 }
  .card1{
    background-color: rgb(149,90,196);
    height: 35vh;
    width: 60%;
    border-radius: 10px;
  }
#nxt{
    width: 20%;
    justify-content: center;
}